.container {
  max-width: 1200px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  @media (min-width: 768px) {
    padding: 40px 30px 160px;
  }
  @media (min-width: 991px) {
    padding: 20px 30px 160px;
  }
}

