.users {
  margin-bottom: 160px;

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

.usersTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #C6C9F8;

  thead {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  tbody {
    tr {
      @media screen and (max-width: 991px) {
        display: grid;
        grid-template-columns: 230px 1fr ;

        td {
          display: flex;
          align-items: center;
          justify-content: center;

          &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
          }

          &:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 1;
          }

          &:nth-child(3) {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
            width: 50%;
          }

          &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 4;
          }

          &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
          }

          &:nth-child(6) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 2;
            width: 50%;
            margin-left: auto;
          }
        }
      }
    }
  }


  td,
  th {
    border: 1px solid #C6C9F8;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  th {
    padding: 7px;
  }

  td {
    padding: 10px;
  }

  img {
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
  }

  button {
    background-color: #C6C9F8;
    color: #101010;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 7px 12px;
    cursor: pointer;

    &:disabled,
    &[disabled] {
      background-color: #C6C9F8;
      color: #666666;
      pointer-events: none;
    }
  }
}

