.videoItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: 991px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.videoInfo {
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  p, a {
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin-bottom: 16px;
  }

  a {
    color: #0000EE;

  }
}

.btnWrap,
.videoBox {
  position: relative;
  width: 385px;
  height: 215px;

  @media (min-width: 768px) {
    width: 500px;
    height: 280px;
  }

  @media (min-width: 991px) {
    width: 480px;
    height: 270px;
  }
}


.videoInfo {
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: 80%;
    margin-bottom: 20px;
  }

  @media (min-width: 991px) {
    width: 50%;
    margin-right: 10px;
    padding: 20px 10px;
    margin-bottom: 0;
  }
}

.videoBox {
  @media (min-width: 991px) {
   max-width: 50%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.youtubeLogo {
  width: 56px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @media (min-width: 768px) {
    width: 73px;
    height: 51px;
  }

  @media (min-width: 991px) {
    width: 70px;
    height: 49px;
  }
}